{:path ["src"]
 :deps {town.lilac/exo-hooks {:local/root "../"}
        lilactown/helix {:local/root "../../../helix"}
        thheller/shadow-cljs {:mvn/version "LATEST"}
        binaryage/devtools {:mvn/version "LATEST"}}}
