{:deps true
 :dev-http {9234 "public"}
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules {:main {:entries [exo.example.core]
                                 :init-fn exo.example.core/start}}}}}
