{:paths ["src"]
 :deps {town.lilac/pyramid {:mvn/version "3.1.2"}}
 :aliases
 {:dev {:extra-paths ["test"]
        :extra-deps {org.clojure/clojurescript {:mvn/version "LATEST"}}}
  :test {:extra-paths ["test"]
         :extra-deps
         {lambdaisland/kaocha {:mvn/version "1.0.732"}
          lambdaisland/kaocha-cljs {:mvn/version "0.0-71"}}}}}
