{:path ["src"]
 :deps {town.lilac/exo-hooks {:local/root "../../hooks"}
        lilactown/helix {:mvn/version "LATEST"}
        thheller/shadow-cljs {:mvn/version "LATEST"}
        binaryage/devtools {:mvn/version "1.0.4"}
        com.wsscode/pathom3 {:mvn/version "2022.08.29-alpha"}}}
